body {
    display: flex;
    margin-right: 0;
}

.main-page {
    display: block;
    flex: 1;
}

/* === DEBUG STUFF === */
/* Normal Mode Styles */
.normal-mode {
    background-color: antiquewhite;
}

/* Debug Mode Styles      */
.debug-mode {
    position: relative;
}

.debug-panel {
    display: none;
    flex-direction: column;
    background-color: lightgray;
    border: 1px solid black;
    padding: 10px;
    width: 300px;
}

#last_event_disp_container {
    flex: 1;
    padding-left: 10px;
    background-color: white;
    border: 1px solid black;
}